@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.google.com/specimen/IBM+Plex+Sans+Condensed?query=IBM+Plex+Sans');

* {
    font-family:'IBM Plex Sans Condensed';
}

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;

}

.no-scroll-bar::-webkit-scrollbar {
    display: none;
}

.no-scroll-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.mouse-highlight:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

